.note-container {
	display: flex;
}

.note-name {
	display: flex;
	border: 1px solid black;
	flex-direction: column;
	width: 50px;
	height: 20px;
	align-items: center;
	justify-content: center;
}

.note-btn {
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

.clicked {
	background-color: #a1a1a1;
}

.volume-controller {
	display: flex;
	font-weight: bold;
}
.volume-controller__input {
	margin-left: 10px;
}

.pannel {
	display: inline-block;
	border: 1px solid black;
}

.playing {
	background-color: rgba(220, 75, 220, 0.5);
}
